<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="\favicon.ioc">
    <title>AUTHOR INTERFACE</title>
</head>

<body style="background-color:skyblue; text-align:center;">
    <header></header>
    <main>
        <section>
            <div>
                <h1>WELCOME TO AUTHOR INTERFACE</h1>
            </div>
            <div>
                <a href="add_post">Add post</a><br><br>
                <a href="view_post">View posts</a>
            </div>
        </section>
    </main>
    <footer></footer>
</body>

</html>