<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="\favicon.ioc">
    <title>login author</title>
</head>

<body style="background-color:skyblue; text-align:center;">
    <header></header>
    <main>
        <section>
            <div>
                <h1>AUTHOR LOGIN</h1>
            </div>
            <div>
                <form action="/check_author_link" method="post">
                    Username:<input type="text" name="uname"><br><br>
                    Passward:<input type="password" name="pwd"><br><br>
                    <input type="submit" value="login">
                </form>
            </div>
        </section>
    </main>
    <footer></footer>
</body>

</html>