<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="\favicon.ioc">
    <title>User registration</title>
</head>

<body style="background-color:skyblue; text-align:center;">
    <header></header>
    <main>
        <section>
            <div>
                <h1>USER REGISTRATION FORM</h1>
            </div>
            <div>
                <form action="/save_user_link" method="post">
                    Username:<input type="text" name="uname"><br><br>
                    Passward:<input type="password" name="pwd"><br><br>
                    Email_id:<input type="email" name="email"><br><br>
                    City:<input type="text" name="city"><br><br>
                    <input type="submit" value="register">
                </form>
            </div>
        </section>
    </main>
    <footer></footer>
</body>

</html>