<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="\favicon.ioc">
    <title>VIEW BLOGS</title>
</head>

<body style="background-color:skyblue; text-align:center;">
    <header></header>
    <main>
        <section>
            <div>
                <h1>ALL POSTS</h1>
            </div>
            <form action="/action" method="post">
            <div style="text-align:right;">
                <select name="author" id="author">
                    {% for i in res %}
                    <option value="{{i[1]}}">{{i[1]}}</option>
                    {% endfor %}
                    <input type="submit" value="show">
                </select>
            </div>
            </form>
            <div>
                {% for i in res %}
                <hr>
                <p><b>Author name</b><br>{{i[1]}}</p>
                <p><b>Title</b><br>{{i[2]}}</p>
                <p><b>Blog</b><br>{{i[3]}}</p>
                <hr>
                {% endfor %}
            </div>

        </section>
    </main>
    <footer></footer>
</body>

</html>